/* Dark mode colors. */
:root {
  --sl-color-accent-low: #f7f1f2;
  --sl-color-accent: #c40043;
  --sl-color-accent-high: #295488;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #e7eff2;
  --sl-color-gray-2: #bac4c8;
  --sl-color-gray-3: #7b8f96;
  --sl-color-gray-4: #495c62;
  --sl-color-gray-5: #2a3b41;
  --sl-color-gray-6: #06181f;
  --sl-color-black: #121a1c;


}
/* Light mode colors. */
:root[data-theme="light"] {
  --sl-color-accent-low: blue;
  --sl-color-accent: #3E7EAC;
  --sl-color-accent-high: #a76176;
  --sl-color-white: black;
  --sl-color-gray-1: black;
  --sl-color-gray-2: black;
  --sl-color-gray-3: green;
  --sl-color-gray-4: red;
  --sl-color-gray-5: rgba(0, 0, 0, 0.32);
  --sl-color-gray-6: rgba(0, 0, 0, 0.1);
  --sl-color-gray-7: rgba(0, 0, 0, 0.05);
  --sl-color-black: white;

  .main-frame {
    background: #F3EFFE;
    background-size: cover;
    width: 100vw;
  }

  .site-title {
    font-size: 2rem;
    font-weight: 400;
    color: black;
  }

  .header .sl-flex a:hover {
    color: #3E7EAC;
  }

  .astro-doynk5tl {
    background-color: #F3EFFE;
  }
}

a {
  text-decoration: none;
}

.header {
  border: none;
  padding: 10px 20px;
  background: transparent;
  backdrop-filter: blur(100px);
  box-shadow: 0 4px 10px transparent;
  z-index: 1000;
}

.main-frame {
  background: url("../assets/images/fondo.jpg") fixed;
  background-size: cover;
  width: 100vw;
}

.header .header {
  background-color: transparent;
  border-radius: 50px;
}

.header .sl-flex a:hover {
  color: #295488;
}

.hero img {
  width: 350px;
}

.site-title {
  font-size: 2rem;
  font-weight: 400;
  color: white;
}